<h1 [ngStyle]="{'font-size': '50px', 'text-align': 'center'}">Privat Bank</h1>

<h2 [ngStyle]="{'font-size': '35px', 'text-align': 'center'}">{{response.baseCurrencyLit}}</h2>
<h3 [ngStyle]="{'font-size': '35px', 'text-align': 'center'}">date: {{response.date}}</h3>

<div [ngStyle]="{'display': 'flex' , 'align-items': 'center', 'justify-content': 'center'}">
    <p [ngStyle]="{'margin-right': '30px', 'font-size': '25px', 'font-weight': '600'}">{{response.exchangeRate[16].currency}}:</p>
    <p [ngStyle]="{'margin-right': '30px', 'font-size': '20px'}">buy: {{response.exchangeRate[16].currency.purchaseRate}}</p>
    <p [ngStyle]="{'font-size': '20px'}">sale: {{response.exchangeRate[16].currency.saleRate}}</p>
</div>
<div [ngStyle]="{'display': 'flex' , 'align-items': 'center', 'justify-content': 'center'}">
    <p [ngStyle]="{'margin-right': '30px', 'font-size': '25px', 'font-weight': '600'}">{{response.exchangeRate[18].currency}}:</p>
    <p [ngStyle]="{'margin-right': '30px', 'font-size': '20px'}">buy: {{response.exchangeRate[18].currency.purchaseRate}}</p>
    <p [ngStyle]="{'font-size': '20px'}">sale:  {{response.exchangeRate[18].currency.saleRate}}</p>

</div>