<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  ;
</style>

<div class="section">
  <div class="container">
    <h1 class="title">Privat Bank</h1>
  
    <h3 class="title sub_title">{{response.baseCurrencyLit}}</h3>
    <h3 class="title sub_title">Date: {{response.date}}</h3>
  
    <div class="section_sum_wrapper">
      <div class="sum_container">
        <p class="sum_title">{{response.eur.currency}}:</p>
        <p class="sum_buy">buy: {{response.eur.purchaseRate}}</p>
        <p class="sum_sale">sale: {{response.eur.saleRate}}</p>
      </div>

      <div class="sum_container">
        <p class="sum_title">{{response.usd.currency}}:</p>
        <p class="sum_buy">buy: {{response.usd.purchaseRate}}</p>
        <p class="sum_sale">sale: {{response.usd.saleRate}}</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h2 class="title sub_title">TRADE</h2>
    <form class="form_wrapper">
      <select [(ngModel)]="tradeForm.tradeType" name="tradeType" class="form_select">
        <label>Type of operation</label>
        <option value='buy'>BUY</option>
        <option value='sale'>SALE</option>
      </select>
  
      <select [(ngModel)]="tradeForm.currency" name="currency" class="form_select">
        <label>Currency</label>
        <option value='eur'>{{response.eur.currency}}</option>
        <option value='usd'>{{response.usd.currency}}</option>
      </select>
  
      <input type="number" placeholder="enter a sum" name="currencySum" [(ngModel)]="tradeForm.sumInput" [ngStyle]="{'height': '25px', 'margin-right': '40px'}"/>
  
      <button type="submit" (click)="exchange()" class="form_input">SUBMIT</button>
    </form>
    <p class="result_sum">{{tradeResult}} {{curentCurrency}}</p>
  </div>
</div>

<!-- <app-header></app-header> -->

<router-outlet></router-outlet>