<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  ;
</style>


<h1 [ngStyle]="{'font-size': '50px', 'text-align': 'center'}">Privat Bank</h1>

<h2 [ngStyle]="{'font-size': '35px', 'text-align': 'center'}">{{response.baseCurrencyLit}}</h2>
<h3 [ngStyle]="{'font-size': '35px', 'text-align': 'center'}">Date: {{response.date}}</h3>

<div [ngStyle]="{'display': 'flex' , 'align-items': 'center', 'justify-content': 'center'}">
  <p [ngStyle]="{'margin-right': '30px', 'font-size': '25px', 'font-weight': '600'}">{{response.eur.currency}}:</p>
  <p [ngStyle]="{'margin-right': '30px', 'font-size': '20px'}">buy: {{response.eur.purchaseRate}}</p>
  <p [ngStyle]="{'font-size': '20px'}">sale: {{response.eur.saleRate}}</p>
</div>
<div [ngStyle]="{'display': 'flex' , 'align-items': 'center', 'justify-content': 'center'}">
  <p [ngStyle]="{'margin-right': '30px', 'font-size': '25px', 'font-weight': '600'}">{{response.usd.currency}}:</p>
  <p [ngStyle]="{'margin-right': '30px', 'font-size': '20px'}">buy: {{response.usd.purchaseRate}}</p>
  <p [ngStyle]="{'font-size': '20px'}">sale: {{response.usd.saleRate}}</p>
</div>

<div>
  <h2>TRADE</h2>
  <form>
    <select [(ngModel)]="tradeForm.tradeType" name="tradeType">
      <label>Type of operation</label>
      <option value='buy'>BUY</option>
      <option value='sale'>SALE</option>
    </select>

    <select [(ngModel)]="tradeForm.currency" name="currency">
      <label>Currency</label>
      <option value='eur'>{{response.eur.currency}}</option>
      <option value='usd'>{{response.usd.currency}}</option>
    </select>

    <input type="number" placeholder="enter a sum" name="currencySum" [(ngModel)]="tradeForm.sumInput" />

    <button type="submit" (click)="exchange()">SUBMIT</button>
  </form>
  <span>{{tradeResult}}</span>
</div>

<!-- <app-header></app-header> -->

<router-outlet></router-outlet>